# 2017 Hourly Data
Our initial data reduction flattened rows into full days. We wanted to still look at hourly data and whether there are insights to be found there, so we took just hourly data for the most recent year (2017).

In [2]:
import pandas as pd

dlst = pd.read_stata("../../spring forward/data/stats19/final/final.dta")

In [3]:
len(dlst)

51103130

In [4]:
dlst.head()

,mlong,mlat,date,hour,all_accid,u25_accid,o25u45_accid,o45u65_accid,o65_accid,ped_accid,...,slight_accid,sunrise6_time,sunset6_time,samplew,year,doy,dow,longlat,dark,darkh
0,-7.75,56.75,1996-01-01,0,0,0,0,0,0,0,...,0,1960-01-01 08:19:00,1960-01-01 16:49:00,0,1996,1,2,15,1.0,15.5
1,-7.75,56.75,1996-01-01,1,0,0,0,0,0,0,...,0,1960-01-01 08:19:00,1960-01-01 16:49:00,0,1996,1,2,15,1.0,15.5
2,-7.75,56.75,1996-01-01,2,0,0,0,0,0,0,...,0,1960-01-01 08:19:00,1960-01-01 16:49:00,0,1996,1,2,15,1.0,15.5
3,-7.75,56.75,1996-01-01,3,0,0,0,0,0,0,...,0,1960-01-01 08:19:00,1960-01-01 16:49:00,0,1996,1,2,15,1.0,15.5
4,-7.75,56.75,1996-01-01,4,0,0,0,0,0,0,...,0,1960-01-01 08:19:00,1960-01-01 16:49:00,0,1996,1,2,15,1.0,15.5

In [5]:
dlst_2017 = dlst[dlst["year"] == 2017]
dlst_2017

,mlong,mlat,date,hour,all_accid,u25_accid,o25u45_accid,o45u65_accid,o65_accid,ped_accid,...,slight_accid,sunrise6_time,sunset6_time,samplew,year,doy,dow,longlat,dark,darkh
184083,-7.75,56.75,2017-01-01,0,0,0,0,0,0,0,...,0,1960-01-01 08:18:00,1960-01-01 16:50:00,0,2017,1,1,15,1.0,15.466666
184084,-7.75,56.75,2017-01-01,1,0,0,0,0,0,0,...,0,1960-01-01 08:18:00,1960-01-01 16:50:00,0,2017,1,1,15,1.0,15.466666
184085,-7.75,56.75,2017-01-01,2,0,0,0,0,0,0,...,0,1960-01-01 08:18:00,1960-01-01 16:50:00,0,2017,1,1,15,1.0,15.466666
184086,-7.75,56.75,2017-01-01,3,0,0,0,0,0,0,...,0,1960-01-01 08:18:00,1960-01-01 16:50:00,0,2017,1,1,15,1.0,15.466666
184087,-7.75,56.75,2017-01-01,4,0,0,0,0,0,0,...,0,1960-01-01 08:18:00,1960-01-01 16:50:00,0,2017,1,1,15,1.0,15.466666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51103125,1.75,55.25,2017-12-31,19,0,0,0,0,0,0,...,0,1960-01-01 07:34:00,1960-01-01 16:18:00,0,2017,366,1,449,1.0,15.266666
51103126,1.75,55.25,2017-12-31,20,0,0,0,0,0,0,...,0,1960-01-01 07:34:00,1960-01-01 16:18:00,0,2017,366,1,449,1.0,15.266666
51103127,1.75,55.25,2017-12-31,21,0,0,0,0,0,0,...,0,1960-01-01 07:34:00,1960-01-01 16:18:00,0,2017,366,1,449,1.0,15.266666
51103128,1.75,55.25,2017-12-31,22,0,0,0,0,0,0,...,0,1960-01-01 07:34:00,1960-01-01 16:18:00,0,2017,366,1,449,1.0,15.266666
51103129,1.75,55.25,2017-12-31,23,0,0,0,0,0,0,...,0,1960-01-01 07:34:00,1960-01-01 16:18:00,0,2017,366,1,449,1.0,15.266666

In [6]:
dlst_2017.to_csv("../data/hourly_2017.csv", index=False)